[submodule "chisel-bootcamp"]
	path = chisel-bootcamp
	url = https://github.com/freechipsproject/chisel-bootcamp.git
[submodule "rocket-chip"]
	path = rocket-chip
	url = https://github.com/chipsalliance/rocket-chip
[submodule "chipyard"]
	path = chipyard
	url = https://github.com/ucb-bar/chipyard.git
